/* ----------------------------------------------
/* 2.11.1 - Композиція класів / CSS-модулі
/* ----------------------------------------------
Створимо CSS-модуль для стилізації компонента в Alert.module.css 
та імпортуємо в Alert.tsx
/* ----------------------------------------------*/

.alert {
  padding: 12px 16px;
  border-radius: 4px;
  color: white;
  background-color: gray;
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}

/* ----------------------------------------------
/* 2.10.3 - Стилізація компонентів / CSS-модулі
/* ----------------------------------------------
/* CSS-модулі – це підхід до стилізації компонентів, який дозволяє уникнути конфліктів імен класів. Замість глобального простору імен, як у звичайному CSS, стилі компонента залишаються локальними, тобто працюють тільки всередині нього. Щоб увімкнути CSS-модулі, достатньо зберігати стилі у файлах з розширенням .module.css.  */
/* Це не можливість браузера, а функціональність, яку забезпечує збирач (наприклад, Vite). Він перетворює назви класів у унікальні під час збірки проєкту */
/* Тепер у компоненті підключаємо ці стилі через import для Alert.tsx */
/* ----------------------------------------------*/

/* .alert {
  padding: 12px 16px;
  background-color: gray;
  border-radius: 4px;
  color: white;
} */
