/*  ---------------------------------------------- */
/*  ------ 2.12.1 - Нормалізація стилів            */
/*                / Глобальні стилі (global.css)   */
/*  ---------------------------------------------- */
/* Окрім нормалізації, ми можемо одразу додати базові стилі – наприклад, обнулити марджини, задати шрифт і поведінку зображень. */

body {
  font-family: sans-serif;
  line-height: 1.5;
}

img {
  /* display: block; */
  max-width: 100%;
}
